@import './styles.scss';

.cabinet {
  background-color: rgba(140, 140, 140, 0.2);
  width: 100%;
  height: 100vh;

  &__top {
    background-color: rgb(50, 50, 50);
  }

}

.user {
  width: 100%;

  &__box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
  }

  &__image {
    max-width: 70px;
    min-width: 68px;
    max-height: 70px;
    min-height: 68px;
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
    overflow: hidden;
    
    & > img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
  }

  &__name {
    align-self: stretch;
    padding-left: 15px;
    max-width: 250px;
  }

  &__text {
    font-weight: bold;
    color: $white;
    line-height: 1.2;
  }

  &__nickname {
    color: $grey;
    font-weight: normal;
  }
}

.control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 35px 0;

  &__search-box {
    position: relative;
    width: 74%;

  }
  

  &__search {
    width: 100%;
    height: 100%;
    padding: 10px 55px 10px 20px;
    border-radius: 25px;
    outline: none;
    font-size: 20px;
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;

    &:active > i {
      font-size: 24px;
    }
  }

  &__btn > i {
    pointer-events: none;
    font-size: 25px;
    color: $grey;
  }

  &__add-user {
    background-color: $green;
    min-height: 44px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 25%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
    transition: 0.1s;


    &:active {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1), 0px 0px 23px 0px rgba(0, 0, 0, 0.4) inset;
    }
  }
}

.contacts {
  width: 100%;
  height: 40vh;
  // max-height: 500px;
  overflow-y: scroll;
  border: 1px solid $grey;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey;
}

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    border-bottom: 1px solid $grey;
    transition: 0.3s;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4px;
      height: 0;
      background-color: royalblue;
      transition: 0.3s;
    }

    &:hover {
      background-color: $white;
    }

    &:hover::before {
      height: 100%;
    }
  }

  &__person-info {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }

  &__img {
    width: 64px;
    height: 64px;
    border: 1px solid $grey;
    border-radius: 50%;
    background-color: $white;
    overflow: hidden;
  }

  &__img > img {
    width: 100%;
    height: 105%;
  }

  &__contacts {
    padding-left: 15px;
  }

  &__name,
  &__email {
    padding: 3px 0;
  }

  &__name > a, &__email > a {
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
  }
  
  &__name > a {
    font-size: 18px;
    color: #000;

    &:hover {
      color: red;
    }
  }

  &__email > a {
    color: $grey;
    font-size: 16px;

    &:hover {
      color: royalblue;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__redact,
  &__delete {
    width: 25px;
    height: 25px;
    font-size: 23px;
    color: $grey;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }

  &__redact > i,
  &__delete > i {
    pointer-events: none;
  }

  &__redact {
    margin-right: 20px;

    &:hover {
      color: $green;
    }
  }

  &__delete:hover {
    color: red;
  }
}


@media (max-width: 670px) {
  .control__search-box,
  .control__add-user {
    width: 100%;
  }

  .control__add-user {
    margin-top: 15px;
  }
}